<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Method: </h2> 
    <h3> {{ request.method}} </h3>
    <h2> API URL: </h2>
    <h3> {{ request.url }} </h3>
    <h2> Headers: </h2>
    <h3> {{ request.headers }} </h3>
    <h2> Body: </h2>
    <h3> {{ request.body }} </h3>
    <h2> Timestamp: </h2>
    <h3> {{ request.timestamp }} </h3>
</body>
</html>